<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
  
<suite name="Suite1" verbose="1" > 
  <test name="test">
    <classes>
    	<class name="com.opensns.frontstage.Register"/>
    	<class name="com.opensns.frontstage.Login"/>
		<class name="com.opensns.frontstage.Operation_tools"/>
		<class name="com.opensns.frontstage.Usercenter"/>
		<class name="com.opensns.frontstage.L_Login"/>
		<class name="com.opensns.center.News1"/>
      	<class name="com.opensns.center.News2"/>
		<class name="com.opensns.center.Forum1"/>
      	<class name="com.opensns.center.Forum2"/>
      	<class name="com.opensns.center.HomePageTest"/>
      	<class name="com.opensns.center.WeiboTest1"/>
      	<class name="com.opensns.center.WeiboTest2"/>
      	<class name="com.opensns.backstage.BackStage2"/>
      	<class name="com.opensns.backstage.BackStage1"/>
    </classes>
  </test>
</suite>
